<style>
        
             .color
              {
                  font-family: sans-serif;
              }
            
             #Footer
              {
                bottom: 0px;
                position: fixed;
                left: 0px;
                width: 100%;
                background-color: darkgray;
                color: cornsilk;
                font-family: cursive;
                text-align: center;
        
              }

</style>
